WCFClientss/WCFClientss/Service References/NilaiServices1/Nilai.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23109/Nilai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerWCF" />
  <xs:element name="getNilai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNilaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="getNilaiResult" nillable="true" type="q1:ArrayOfNilaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNilaiByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNilaiByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="getNilaiByIDResult" nillable="true" type="q2:ArrayOfNilaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNilai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="data" nillable="true" type="q3:NilaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNilaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNilaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNilai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="data" nillable="true" type="q4:NilaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNilaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateNilaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GantiPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerWCF" minOccurs="0" name="data" nillable="true" type="q5:NilaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GantiPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GantiPassResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>