WCFClientss/WCFClientss/Service References/NilaiServices1/Nilai1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNilaiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NilaiInfo" nillable="true" type="tns:NilaiInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNilaiInfo" nillable="true" type="tns:ArrayOfNilaiInfo" />
  <xs:complexType name="NilaiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keterangan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KodeKelas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KodePelajaran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIS" type="xs:int" />
      <xs:element minOccurs="0" name="Nilai_Harian" type="xs:int" />
      <xs:element minOccurs="0" name="Nilai_UAS" type="xs:int" />
      <xs:element minOccurs="0" name="Nilai_UTS" type="xs:int" />
      <xs:element minOccurs="0" name="Passwords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rata_rata" type="xs:int" />
      <xs:element minOccurs="0" name="TahunAjaran" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NilaiInfo" nillable="true" type="tns:NilaiInfo" />
</xs:schema>